<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="org.fanl.mapper.QueueMapper">
     <insert id="insertQueue" parameterType="queue">
     	insert into t_queue(timePiece,priority,experimentName) values(#{timePiece},#{priority},#{experimentName})
     </insert>   
</mapper>