<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 	 	<typeAlias alias="queue" type="org.fanl.pojo.Queue"/>
 	 	<typeAlias alias="experiment" type="org.fanl.pojo.Experiment"/>
 	    <typeAlias alias="task" type="org.fanl.pojo.Task"/>
 	</typeAliases>
 	
 </configuration>